{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Paths -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab4_form_style.css' %}">
    <title>Lab4 Add Note</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/">Note  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/add-note">Add  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/note-list">Cards  <span class="sr-only"></span></a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="ins">
        <div class="form">
            <form action="" method = "POST">
                {% csrf_token %} 
                <label for="title">Title</label>
                {% render_field form.title class="input" placeholder="Title" %} 
                <label for="by">From</label>
                {% render_field form.by class="input" placeholder="Sender name" %} 
                <label for="to">To</label>
                {% render_field form.to class="input" placeholder="Receiver name" %} 
                <label for="title">Content</label>
                {% render_field form.message rows="10" placeholder="Enter your message" class="textarea"%} 
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
<!-- Scripts -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
</html>