{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- CSS Path -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab4_index_style.css' %}">
    <title>Notes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/">Note  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/add-note">Add  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/note-list">Cards  <span class="sr-only"></span></a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="tabling" style="overflow-x: auto;">
        <table>
            {% if notes %}
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td>{{ note.to }}</td>
                <td>{{ note.by }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <th> Seems like no one left any massege </th>
            <th>
                <a href="add-note">
                    <button type="button">Add a Note</button>
                </a>
            </th>
            {% endif %}
        </table>
    </div>
    <!-- <a href="add-note">
        <button type="button">add message</button>
    </a> -->
    
</body>
</html>