{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab4_card_style.css' %}">
    <title>Messages</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/">Note  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/add-note">Add  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/note-list">Cards  <span class="sr-only"></span></a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="container">

        {% if notes %} 
        {% for note in notes %}
        <div class="row">
            <div class="column">
                <div class="card">
                    <h1><img src="{% static "Border.png" %}" alt="null" style="width:100%"></h1>
                    <h1>{{ note.title }}</h1>
                    <p>{{ note.by }}</p>
                    <p>{{ note.to }}</p>
                    <p>{{ note.message }}</p>
                </div>
            </div>
        </div>
        {% endfor %} 
        {% endif %} 
    </div>
</body>
</html>