* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

body {
    background-color: #eec8c8;
    width: 100vw;
    align-items: center;
    text-align: center;
}

.form {
    width: 600px;
    padding: 12px 12px;
    background-color: gainsboro;
    border-radius: 4px;
}

.ins {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}

input, textarea {
    padding: 12px 15px;
    width: 75%;
    margin-top: 6px;
    border: 1px gray;
    border-radius: 4px;
    resize: vertical;
}

.form label {
    float: left;
    text-align: left;
    width: 15%;
    margin-top: 12px;
}

button {
    justify-content: center;
    width: 175px;
    padding: 8px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    top: 50%;
}