* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

body {
    margin: 0;
    background-color: #eec8c8;
    width: 100vw;
    align-items: center;
    text-align: center;
}

.tabling {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 6px;
}

th {
    background-color: gray;
}

table {
    padding-top: 12px;
    width: 750px;
    border-collapse: collapse;
}

tr:hover {background-color: tan;}

button {
    justify-content: center;
    width: 175px;
    padding: 8px 20px;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    top: 50%;
}