* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eec8c8;
    width: 100vw;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: large;
}

p {
    font-size: medium;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-top: 10px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card:hover {
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4);
  }

@media screen and (max-width: 600px) {
.column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}