<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
        {% if friends %}
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
          {% for friend in friends %}
            <tr>
                <td>{{ friend.name }}</td>
                <td>{{ friend.npm }}</td>
                <td>{{ friend.DOB }}</td>
            </tr>
          {% endfor %}
        {% else %}
        <th> You've got no friends lmao </th>
        {% endif %}
    </table>
  </body>
</html>
